.imgthing {
  background-image: url("../Hackmit21-assets/noelle-australia-vGtfXyEtSBc-unsplash.jpg");
  background-size: cover;
  background-position-y: 35%;
  width: 1436px;
  height: 466px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
h1 {
  display: block;
  /* font-style: italic; */
  position: relative;
  top: 32%;
  text-align: center;
  font-weight: 400;
  font-size: 144px;
  color: #a3a380;
  margin-top: -60px;
}

.file-path {
  color: #6b6b51;
  font-size: 14px;
  padding: 32px;
}

.item-content {
  display: flex;
}
.item-content > * {
  flex: 1;
  padding: 32px;
  color: #6b6b51;
}

.item-content .item-img {
  width: 250px;
}
.item-blurb {
  margin: 32px 0 32px 0;
}
.item-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}
.item-size {
  font-size: 24px;
}
.item-condition {
  font-size: 24px;
  margin: 32px 0 32px 0;
}
.item-max-bid {
  font-size: 24px;
  margin: 32px 0 32px 0;
}
.add-to-bag {
  float: right;
  color: #6b6b51;
  font-size: 24px;
  text-decoration: underline;
  margin: 32px 0 32px 0;
  border: none;
  cursor: pointer;
}

.logo {
  margin-right: auto;
}
.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.nav {
  background-color: #d8a48f;
  padding: 5px 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#feedArea li {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
  zoom: 1;
  *display: inline;
  margin-left: 15px;
  margin-right: 15px;
  /* this fix is needed for IE7- */
}

h6 {
  font-size: 14px;
  color: #6b6b51;
  margin-bottom: 0px;
  margin-top: 0px;
}

h4 {
  font-size: 14px;
  color: #6b6b51;
  margin-bottom: 40px;
  margin-top: 0px;
}

h2 {
  margin-bottom: 40px;
}
