h1, h2, ul {
    color: #6B6B51
}

h1, h2 {
    text-align: center;
}
.column-right {
    float: left;
    width: 79%;
    background-color: transparent;
    height: 800px;
}

.column-left {
    float: left;
    width: 20%;
    height: 800px;
    overflow:auto;
    background-color: transparent;
}

.column-middle {
    float: left;
    width: 1%;
    background-color: transparent;
    height: 800px;

}
.column-left ul > li {
    display: block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    /* this fix is needed for IE7- */
}

.collapsible {
    color: black;
    background-color: transparent;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 10px;
  }
  button {
      background-color: transparent;
  }

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;
  }

  #lastcontent {
      margin-bottom: 0px;
      background-color: transparent;
  }

  .vl {
    border-right: 1px solid #6B6B51;
    height: 750px;
    margin-bottom: 50px;
    background-color: transparent;
  }

  #firstbutton {
      margin-top: 80px;
  }

.column-left button {
    font-size: 24px;
    color: #6B6B51;
    background-color: transparent;
}
hr {
    color: #6B6B51;
    height: 1px;
    background-color: #6B6B51;
}

.content {
    color: #6B6B51;
    font-size: 18px;
    background-color: transparent;
}

#dressZone ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom: 1;
    *display: inline;
    margin-left: 15px;
    margin-right: 15px;
    /* this fix is needed for IE7- */
}

h6 {
    font-size: 14px;
    color: #6B6B51;
    margin-bottom: 0px;
    margin-top: 0px;
}

h4 {
    font-size: 14px;
    color: #6B6B51;
    margin-bottom: 40px;
    margin-top: 0px;
}

h2{
    margin-bottom: 40px;
}