html,
body {
  margin: 0;
  padding: 0;
}
.dashboard {
  width: 100vw;
}
.icon {
  width: 32px;
  align-items: center;
}
.seller-nav a {
  transition: opacity 0.3s;
  color: #efebce;
  text-decoration: none;
}
.seller-nav:hover a {
  opacity: 0.5;
}
.seller-nav a:hover {
  opacity: 1;
}
.seller-nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.seller-nav {
  background-color: #a3a380;
  padding: 5px 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.logo {
  margin-right: auto;
}

.seller-nav li {
  list-style: none;
  font-size: 24px;
  padding: 32px;
}

.listing-types {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 0;
  padding-top: 16px;
  list-style: none;
  color: #6b6b51;
  text-decoration: underline;
}
.listing-types li {
  padding: 32px 32px 0;
}
.listing-types li:last-child {
  margin-left: auto;
}
.line {
  height: 2px;
  background-color: #a3a380;
}

.listing-cats {
  font-size: 24px;
  padding: 0;
  padding-top: 16px;
  list-style: none;
  color: #6b6b51;
}

.listing-cats {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td,
th {
  text-align: left;
  padding: 32px;
  font-weight: 400;
}
td:not(:first-child),
th:not(:first-child) {
  border-left: 1px solid #dddddd;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #efebcecc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .content {
  background: #f0efeb;
  max-width: 1200px;
  margin: 64px;
  padding: 32px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.modal input[type="text"],
.modal textarea,
.modal select {
  background: #d7d7c9;
  padding: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  font-family: "Playfair Display";
  border: none;
  box-sizing: border-box;
  outline: none;
  color: #6b6b51;
}

.modal .title {
  width: 100%;
  margin-bottom: 24px;
  display: block;
}

.modal .photo {
  height: 360px;
  width: 100%;
  position: absolute;
  opacity: 0;
}

.modal .upload-area {
  pointer-events: none;
  display: block;
  width: 100%;
  margin-bottom: 24px;
  height: 360px;
  background: #fafafa;
  background-image: url("../Hackmit21-assets/upload-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#preview {
  display: none;
  width: 100%;
  margin-bottom: 24px;
  height: 360px;
  object-fit: contain;
}

.modal .size {
  width: 360px;
  margin: 0 24px 24px 0;
}

.modal .quality {
  width: 360px;
}

.modal .description {
  width: 360px;
  height: 200px;
  resize: none;
}

.modal .submit {
  position: absolute;
  right: 32px;
  bottom: 32px;
  padding: 24px 64px;
  background: none;
  color: #6b6b51;
  border: 1px solid currentColor;
  font: inherit;
  font-size: 24px;
}
