html,
body {
  margin: 0;
  padding: 0;
}
.dashboard {
  width: 100vw;
}
.icon {
  width: 32px;
  align-items: center;
}
.seller-nav a {
  transition: opacity 0.3s;
  color: #efebce;
  text-decoration: none;
}
.seller-nav:hover a {
  opacity: 0.5;
}
.seller-nav a:hover {
  opacity: 1;
}
.seller-nav ul {
  display: flex;
  align-items: center;
}
.seller-nav {
  background-color: #a3a380;
  padding: 5px 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.logo {
  margin-right: auto;
}

.seller-nav li {
  list-style: none;
  font-size: 24px;
  padding: 16px;
}
